.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .question {
    text-align: center;
  }
  
  .start-btn {
    background-color: #8809FF33;
    color: black;
    padding: 10px 20px;
    height: 40px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    
    /* 텍스트 중앙 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 화면 중앙 정렬 */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
  .start-btn:hover {
    background-color: #8809FF80;
  }
  
  .input-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .input-section textarea {
    padding: 10px;
    font-size: 16px;
    width: 600px;
    min-height: 50px; /* 기본 최소 높이 */
    max-height: 300px; /* 최대 높이 설정 */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: start; /* 텍스트 중앙 정렬 */
    resize: none; /* 크기 조정 제한 */
    overflow-y: hidden; /* 세로로 넘칠 때 숨기기 */
  }
  